<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ shop.description }}">

    {% include 'head' %}
    {% include 'sm-og-data' %}
    {% include 'scripts_head' %}
   

  <!-- Avada FSB Script -->
 {% include 'avada-fsb-setting' %}
  <!-- /Avada FSB Script -->

 {{ content_for_header }}
 
  </head>

  <body class="template-{{ request.page_type | handle }}">
    {% section 'header' %}
    <div class="page-container drawer-page-content" id="PageContainer">
      <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>
      {% section 'footer' %}
    </div>
    {% include 'scripts_footer' %}

  </body>
</html>
