{% if section.blocks.size > 0%}
<div class="container-1400">
  <ul class="flex ipad-none">
    {% for block in section.blocks %}
    {%- case block.type -%}
    {%- when 'column' -%}
    {%if block.settings.category != blank %}
    <li>
      <a class="tab-link" data-attr="tab-{{block.settings.category | downcase | remove: ' ' }}">
        {{block.settings.category}}
      </a>
    </li>
    {% endif %}
    {%endcase%}
    {% endfor %}
  </ul>
  <select class="dropdown-select ipad-block">
    {% for block in section.blocks %}
    {%- case block.type -%}
    {%- when 'column' -%}
    {%if block.settings.category != blank %}
    <option value="{{block.settings.category | downcase | remove: ' ' }}">{{ block.settings.category }} </option>
    {% endif %}
    {%endcase%}
    {% endfor %}
  </select>
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'column' -%}
  <div class="tab-content" id="tab-{{ block.settings.category | downcase | remove: ' ' }}">
    {% assign category = block.settings.category | downcase | remove: ' ' %}
    <div class="accordian-section">
      <div class="container-760">
        <ul class="accordian js__accordian">
          {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when 'list' -%}
          {% assign categoryFAQ = block.settings.categoryFAQ | downcase | remove: ' ' %}
          {%if categoryFAQ == category %}
          {% if block.settings.title != blank %}
          <li>
            <h5 class="h4">{{block.settings.title}}</h5>
            {% if block.settings.faqAnswer != blank %}
            <div class=" content full-format">
              {{block.settings.faqAnswer}}
            </div>
            {%endif%}
          </li>
          {%endif%}
          {%endif%}
          {%endcase%}
          {%endfor%}
        </ul>
      </div>
    </div>
  </div>
  {%endcase%}
  {% endfor%}
</div>
{% endif %}
{% schema %}
{
"name": "Accordian With Tabs",
"blocks": [
{
"type": "column",
"name": "category",
"settings": [
{
"type": "text",
"id": "category",
"label": "Category"
}
]
},
{
"type": "list",
"name": "Content",
"settings": [
{
"type": "text",
"id": "categoryFAQ",
"label": "Category"
},
{
"type": "text",
"id": "title",
"label": "Title/Question"
},
{
"type": "html",
"id": "faqAnswer",
"label": "Information/Answer"
}
]
}
],
"presets": [
{
"name":"Accordian With Tabs"
}
]
}
{% endschema %}