{% if section.blocks.size > 0%}
<div class="js__faq-category-side-panel hide">
  <ul class="text-center faq-category-sidepanel ipad-none">
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'list' -%}
    <li><a title="{{block.settings.heading}}"
        href="#{{block.settings.heading | remove: ',' | remove: '-' | remove: ' ' | remove: '&' | remove: "'" | remove: '
        (' | remove: ')' }}">{{block.settings.heading}}</a>
    </li>
    {%- endcase -%}
    {%- endfor -%}
  </ul>
  <div class="dropdown ipad-block">
    <p class="js__dropdown_result selected capitalize">Select Category</p>
    <ul class="js__dropdown">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'list' -%}
      <li><a title="{{block.settings.heading}}"
          href="#{{block.settings.heading | remove: ',' | remove: '-' | remove: ' ' | remove: '&' | remove: "'" | remove: '
          (' | remove: ')' }}">{{block.settings.heading}}</a>
      </li>
      {%- endcase -%}
      {%- endfor -%}
    </ul>
  </div>
</div>

<div class="accordian-section">
  <div class="container-740">
    <ul class="js__accordian">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'list' -%}
      <li>
        <div class="title">
          <h2>{{block.settings.heading}}</h2>
          {% if block.settings.headingContent != blank %}
          {{block.settings.headingContent}}
          {%endif%}
        </div>
        {% assign categorycheck = block.settings.heading %}
        <div class="content">
          <ul class="js__accordian">
            {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'question' -%}
            {% if block.settings.category == categorycheck %}
            <li>
              {% if block.settings.title != blank %}
              <h4> {{block.settings.title}}</h4>
              {%- endif -%}
              {% if block.settings.faqAnswer != blank %}
              <div class="content">
                {{block.settings.faqAnswer}}
              </div>
              {%- endif -%}
            </li>
            {%- endif -%}
            {%- endcase -%}
            {%- endfor -%}
          </ul>
        </div>
      </li>
      {%- endcase -%}
      {%- endfor -%}
    </ul>
  </div>
</div>
{%endif%}


{% schema %}
{
"name": "FAQs",
"blocks": [
{
"type": "list",
"name": "Section separator",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "richtext",
"id": "headingContent",
"label": "Content"
}
]
},
{
"type": "question",
"name": "Question",
"settings": [
{
"type": "text",
"id": "title",
"label": "Question"
},
{
"type": "richtext",
"id": "faqAnswer",
"label": "Answer"
},
{
"type": "text",
"id": "category",
"label": "Category"
}
]
}
],
"presets": [
{
"name":"FAQ Accordian"
}
]
}
{% endschema %}