{% if section.blocks.size > 0%}
<div class="js__faq-category-side-panel hide">
  <ul class="text-center faq-category-sidepanel ipad-none">
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'list' -%}
    <li><a title="{{block.settings.heading}}"
        href="#{{block.settings.heading | remove: ',' | remove: '-' | remove: ' ' | remove: '&' | remove: "'" | remove: '
        (' | remove: ')' }}">{{block.settings.heading}}</a>
    </li>
    {%- endcase -%}
    {%- endfor -%}
  </ul>
  <div class="dropdown ipad-block">
    <p class="js__dropdown_result selected capitalize">Select Category</p>
    <ul class="js__dropdown">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'list' -%}
      <li><a title="{{block.settings.heading}}"
          href="#{{block.settings.heading | remove: ',' | remove: '-' | remove: ' ' | remove: '&' | remove: "'" | remove: '
          (' | remove: ')' }}">{{block.settings.heading}}</a>
      </li>
      {%- endcase -%}
      {%- endfor -%}
    </ul>
  </div>
</div>

<div class="container-740">
  <ul class="accordian js__accordian">
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'list' -%}
    <li class="heading"
      id="{{block.settings.shortHeading | remove: ',' | remove: '-' | remove: ' ' | remove: '&' | remove: "'" | remove: '
      (' | remove: ')' }}">
      <h3 class="lowercase">{{block.settings.heading}} </h3>
      {% if block.settings.headingImage != blank %}
      <div class="image-section">
        <img src="{{block.settings.headingImage | img_url: 'master' }}" alt="{{block.settings.heading}}">
      </div>
      {%endif%}
    </li>
    
    {%- when 'question' -%}
    <li>
      {% if block.settings.title != blank %}
      <h5 class="lowercase">{{block.settings.title}}</h5>
      {%- endif -%}
      {% if block.settings.faqAnswer != blank %}
      <div class="content">
        {% if block.settings.image != blank %}
        <img src="{{block.settings.image | img_url: 'master' }}" alt="{{block.settings.title}}">
        {%endif%}
        <p>{{block.settings.faqAnswer}}</p>
        {{block.settings.editor}}
        {% if block.settings.icon != blank %}
        <div class="icon-left-right-content">
          <div class="image-section">
            {% if block.settings.icon != blank %}
            <img src="{{block.settings.icon | img_url: 'master' }}" alt="{{block.settings.contentTitle}}">
            {%endif%}
          </div>
          <div class="right-content">
            <h6>{{block.settings.contentTitle}}</h6>
            {{block.settings.rightContent}}
          </div>
        </div>
        {%endif%}
        {{block.settings.editorSecond}}
      </div>
      {%- endif -%}
    </li>
    {%- endcase -%}
    {%- endfor -%}
  </ul>
</div>
{%endif%}
{% schema %}
{
"name": "FAQs",
"blocks": [
{
"type": "list",
"name": "Section separator",
"settings": [
{
"type": "text",
"id": "shortHeading",
"label": "Short Heading for List"
},
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "image_picker",
"id": "headingImage",
"label": "Image"
}
]
},
{
"type": "question",
"name": "Question",
"settings": [
{
"type": "text",
"id": "title",
"label": "Question"
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "richtext",
"id": "faqAnswer",
"label": "Answer"
},
{
"type": "html",
"id": "editor",
"label": "Editor"
},
{
"type": "header",
"content": "Icon Left Right Content",
"info": "Icon is mandatory"
},
{
"type": "image_picker",
"id": "icon",
"label": "Icon"
},
{
"type": "text",
"id": "contentTitle",
"label": "Title "
},
{
"type": "html",
"id": "rightContent",
"label": "Content "
},
{
"type": "header",
"content": "Extra Content",
"info": "Pop in some html content if required"
},
{
"type": "html",
"id": "editorSecond",
"label": "Editor"
}
]
}
]
}
{% endschema %}