<div class="full-width-content-bottom-image">
  <div class="container-1240">
    <div class="content">
      {% include 'icon-two-fish' %}
      {% if section.settings.custom_text_title %}
      <h2 class="h2-big">
        {{ section.settings.custom_text_title }}
      </h2>
      {% endif %}
      {% if section.settings.custom_text_description %}
      <p>
        {{ section.settings.custom_text_description }}
      </p>
      {% endif %}
    </div>
    {% if section.settings.button != null %}
    <a href="{{ section.settings.button_url }}" class="btn--primary">{{ section.settings.button }}</a>
    {% endif %}
  </div>
  <div class="image-section">
    {% if section.settings.image != blank %}
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="{{ block.settings.image | img_url: 'large' }}"
      >
      <img src="{{ block.settings.image | img_url: 'large' }}" alt="">
    </picture>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Full width bottom section",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "id": "custom_text_description",
        "type": "text",
        "label": "Add custom description below",
        "default": "Add your description here"
      },
      {
          "type": "text",
          "id": "button",
          "label": "Button",
          "default": "Button"
      },
      {
          "type": "url",
          "id": "button_url",
          "label": "Button Url"
      },
      {
         "type": "image_picker",
         "id": "image",
         "label": "Slide Image"
      }
    ]
  }
{% endschema %}