<div class="full-width-content-bottom-image">
  <div class="container-1240">
    <div class="content">
      {% include 'icon-two-fish' %}
      {% if section.settings.custom_text_title %}
      <h2 class="h2-big">
        {{ section.settings.custom_text_title }}
      </h2>
      {% endif %}
      {% if section.settings.custom_text_description %}
      <p>
        {{ section.settings.custom_text_description }}
      </p>
      {% endif %}
    </div>
    {% if section.settings.button != null %}
    <a href="{{ section.settings.button_url }}" class="btn--primary">{{ section.settings.button }}</a>
    {% endif %}
  </div>
  <div class="image-section">
    
    <picture>
      {% if section.settings.image_mobile != blank %}
      <source
        media="(max-width: 600px)"
        srcset="{{ section.settings.image_mobile | img_url: 'large' }}"
      >
      {% endif %}
      {% if section.settings.image != blank %}
       <img src="{{ section.settings.image | img_url: 'large' }}" alt="">
      {% endif %}
    </picture>
   
  </div>
</div>

{% schema %}
  {
    "name": "Full width section",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Title",
        "default": "Enter title here"
      },
      {
        "id": "custom_text_description",
        "type": "text",
        "label": "Description",
        "default": "Enter description here"
      },
      {
          "type": "text",
          "id": "button",
          "label": "Button Text",
          "default": "Button"
      },
      {
          "type": "url",
          "id": "button_url",
          "label": "Button Link"
      },
      {
         "type": "image_picker",
         "id": "image",
         "label": "Image (desktop)"
      },
      {
         "type": "image_picker",
         "id": "image_mobile",
         "label": "Image (mobile)"
      }
    ]
  }
{% endschema %}