<!-- Header -->
<header>
    {% if section.blocks.size > 0%}
    <!-- Announcement -->
    {% if section.settings.show_announcement%}
    <div class="announcement-bar" style="background-color: {{section.settings.announcementColor}};">
        <div class="container-1440 relative">
            {% comment %} <div class="js__announcement-slider">
                {% for block in section.blocks %}
                {% if block.type == 'announcement' %}
                <div>
                    <p>
                        {{block.settings.header_text}}
                        

                        {% if block.settings.announcement_link_text != blank%}
                        <a href="{{block.settings.announcement_link}}"
                            title="{{block.settings.announcement_link_text}}">{{block.settings.announcement_link_text}}</a>
                        {%endif%}
                    </p>
                </div>
                {%endif%}
                {%endfor%}
            </div> {% endcomment %}
            <div class="js__announcement-slider slider">
                <div class="swiper-wrapper">
                  {% for block in section.blocks %}
                  {% if block.type == 'announcement' %}
                  <div class="swiper-slide slide">
                      <p>
                          {{block.settings.header_text}}
                          {% if block.settings.announcement_link_text != blank%}
                          <a href="{{block.settings.announcement_link}}"
                              title="{{block.settings.announcement_link_text}}">{{block.settings.announcement_link_text}}</a>
                          {%endif%}
                      </p>
                  </div>
                  {%endif%}
                  {%endfor%}
              </div>
              
            </div>
            <a href="#" title="close" id="announcement-close" class="close"> {% include 'icon-small-close' %} </a>
        </div>
    </div>
    <script>
        $("body").addClass("announcement-visible");
    </script>
    {%endif%}
    {%endif%}

    <div class="main-header js__main-header">
        <div class="container-1340 flex-align-center">
            <!-- To be visible from ipad-->
            <div class="mobile-hamburger">
                <button id="hamburger" type="button">
                    <span>{% include 'icon-hamburger' %}</span>
                    <span class="close">{% include 'icon-close' %}</span>
                </button>
            </div>
            <!-- Main Nav -->
            <div class="navbar-collapse" id="navbarNavDropdown">
                <div class="navbar-container">
                    {% assign mainMenu = linklists[section.settings.nav_menu]%}
                    <nav class="main-menu">
                        {% include 'site-nav_main' with mainMenu %}
                        <div class="search-account-link ipad-block">
                        <div class="search-li ipad-block">
                            <a href="javascript:;" class="js__search" title="Search">{% include 'icon-search' %} Search
                            </a>
        
                            <div class="ipad-none">
                            <div class="header-search js__header-search">
        
        
                                <form method="get" action="/search" class="flex-align-center relative" data-form-type="">
                                    <input type="hidden" name="type" value="product">
        
                                    <input class="search" type="search" placeholder="" aria-label="Search" name="q">
                                    <a href="javascript:;" class="js__search"> {% include 'icon-search' %}</a>
                                </form>
                            </div>
                        </div>
                            
                        </div>
                        <div class="ipad-block account-link">
                            {% if customer %}
                            <a href="/account" title="My Account">My Account
                                {%else%}
                                <a href="/account/login" title="Log In">
                                    {% include "icon-account" %} My Account
                                    {%endif%}
                                </a>
                        </div>
                        </div>
                    </nav>
                    
                    <div class="social-icons ipad-block">
                        <p>Connect with us</p>
                        {% include "social-icons" %}
                    </div>
                </div>
            </div>
            <!-- Logo -->
            <div class="header-logo relative">
                <a href="{{ routes.root_url }}" itemprop="url" alt="{{shop.name}}">
                    {% if section.settings.logo != blank %}
                    <img src="{{section.settings.logo | img_url: 'master' }}" class="logo" alt="{{shop.name}} Logo"
                        loading="lazy">
                    <img src="{{section.settings.mobileLogo | img_url: 'master' }}" class="mobile-logo"
                        alt="{{shop.name}} Logo" loading="lazy">
                    {%else%}
                    {{shop.name}}
                    {%endif%}
                </a>
            </div>
            <!-- Account, Cart -->
            <ul class="right-nav flex-align-center">
                <li class="search-li ipad-none">
                    <a href="javascript:;" class="js__search" title="Search">{% include 'icon-search' %}
                    </a>

                    <div class="ipad-none">
                    <div class="header-search js__header-search">


                        <form method="get" action="/search" class="flex-align-center relative" data-form-type="">
                            <input type="hidden" name="type" value="product">

                            <input class="search" type="search" placeholder="" aria-label="Search" name="q">
                            <a href="javascript:;" class="js__search"> {% include 'icon-search' %}</a>
                        </form>
                    </div>
                </div>
                    
                </li>
                <li class="ipad-none">
                    {% if customer %}
                    <a href="/account" title="My Account">My Account
                        {%else%}
                        <a href="/account/login" title="Log In">
                            {% include "icon-account" %}
                            {%endif%}
                        </a>
                </li>
                <li>
                    <a class="js__cart-expand js__update-cart-icon cart" href="/cart" title="cart">{% include
                        "icon-cart" %}
                        <span class="js__ajax-cart-count cart-count">
                            {{cart.item_count}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Mini Cart -->
    <div id="cart_overlay"></div>
    {% include "cart_drawer" %}
</header>

{% schema %}
{
"name": {
"en": "Header"
},
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": {
"en": "Logo"
},
"info": {
"en": "450 x 200px recommended"
}
},
{
"type": "header",
"content": {
"en": "Mobile Logo"
}
},
{
"type": "image_picker",
"id": "mobileLogo",
"label": {
"en": "Logo"
}
},
{
"type": "link_list",
"id": "nav_menu",
"label": "Main Menu"
},
{
"type": "header",
"content": {
"en": "Announcement bar"
}
},
{
"type": "checkbox",
"id": "show_announcement",
"label": {
"en": "Show announcement"
},
"default": true
},
{
"type": "text",
"id": "header_text",
"label": {
"en": "Text"
},
"default": {
"en": "Announce something here"
}
},
{
"type": "url",
"id": "announcement_link",
"label": {
"en": "Link"
},
"info": {
"en": "Optional"
}
},
{
"type": "text",
"id": "announcement_link_text",
"label": "Link Text"
},
{
"type": "color",
"id": "announcementColor",
"label": "Background Color"
}
],
"blocks": [
{
"type": "announcement",
"name": "Announcement",
"settings": [
{
"type": "text",
"id": "header_text",
"label": {
"en": "Text"
}
},
{
"type": "url",
"id": "announcement_link",
"label": {
"en": "Link"
},
"info": {
"en": "Optional"
}
},
{
"type": "text",
"id": "announcement_link_text",
"label": "Link Text"
}
]
}
]
}
{% endschema %}