<div class="hero-banner-slider">
  <div class="slider js__hero-banner-slider">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
          <div class="slide swiper-slide ">
            <div class="image-section">
              {% if block.settings.image != blank %}
              <picture>
                <source
                  media="(max-width: 600px)"
                  srcset="{{ block.settings.image | img_url: 'small' }}"
                >
                <img src="{{ block.settings.image | img_url: 'large'}}" alt="">
              </picture>
                {% endif %}
            </div>
            <div class="container-1280">
              <div class="content">
              {% if block.settings.title %}
                <h2 class="h1">{{ block.settings.title }}</h2>
              {% endif %}
              {% if block.settings.description %}
                <p>{{ block.settings.description }}</p>
              {% endif %}
              {% if block.settings.button_text %}
                <a class="btn--primary" href="{{ section.settings.button_url }}">{{ block.settings.button_text }}</a>
              {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      
    </div>
    <div class="swiper-button-prev swiper-button-prev-hero-banner">
      {% include 'icon-arrow-prev' %}
    </div>
    <div class="swiper-button-next swiper-button-next-hero-banner">
      {% include 'icon-arrow-prev' %}
    </div>
  </div>
</div>



{% schema %}
  {
  "name": "Hero Banner",
    "blocks": [{
      "name": "Slide",
      "type": "slide",
        "settings": [
          
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Enter title here"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Enter description here"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button"
          },
          {
              "type": "url",
              "id": "button_url",
              "label": "Button Link"
          },
          {
           "type": "image_picker",
           "id": "image",
           "label": "Slide Image"
         }
          
        ]
         
    }] 
      
}
{% endschema %}