<div class="insta-section">
  {% include 'icon-two-fish' %}
  <div class="container-1440">
    <div class="heading-section flex">
      <h2>@montanacastingco</h2>
      <a class="link--primary">Follow Us on Instagram</a>
    </div>
    <ul>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Instagram",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ]
}
{% endschema %}
