<div class="three-column-image-boxes">
  <ul class="flex-wrap">
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
  </ul>
</div>

{% schema %}
  {
    "name": "Three column image",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Title",
        "default": "Title"
      },
      {
          "type": "text",
          "id": "button",
          "label": "Button",
          "default": "Button"
      },
      {
          "type": "url",
          "id": "button_url",
          "label": "Button Url"
      },
      {
         "type": "image_picker",
         "id": "image",
         "label": "Background Image"
      }
    ]
  }
{% endschema %}