{% section 'hero-banner' %}

<div class="full-width-content-bottom-image">
  <div class="container-1240">
    <div class="content">
      {% include 'icon-two-fish' %}
      <h2 class="h2-big">
        Montana Casting Co. creates fly fishing rods and reels that will out-perform your expectations no matter the
        conditions.
      </h2>
      <p>
        As designers of cutting-edge fly fishing gear, we understand the value of time spent on the river and the
        memories we make there. Most importantly, we know hwat it takes to make a fly rod that will keep you on the
        water, making memories for years to come. We are a family owned & operated fly fishing company in the heart of
        Montana.
      </p>
    </div>
    <a class="btn--primary">Learn About Our Story</a>
  </div>
  <div class="image-section">
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="{{ "homepage-mountain-range.webp" |asset_url}}"
      >
      <img src="{{ "homepage-mountain-range.webp" |asset_url}}" alt="">
    </picture>
  </div>
</div>
<div class="half-image-half-content-product-slider">
  <div class="container-1440">
    <div class="slider js__product-slider">
      <div class="swiper-wrapper">
        <div class="slide swiper-slide ">
          <div class="image-section">
            <div class="tag">new!</div>
            <img src="{{ "dummy-product.webp" |asset_url}}" alt="">
          </div>
          <div class="content">
            <h2>Fly Fishing Reel - 406 Elite</h2>
            <div class="price">
              <span>$350.00</span>
            </div>
            <p>
              Machined from the highest quality 7075 aluminum alloy available, we can confidently say that this fly
              fishing reel is one of the best on the market.
            </p>
            <a class="btn--primary">shop now</a>
            <ul>
              <li>available in 4/6, 7/9 weights</li>
              <li>Made with durable 7075 aluminum alloy</li>
              <li>Easily Coverts from left to right-handed</li>
              <li>sealed drag system</li>
            </ul>
          </div>
        </div>
        <div class="slide swiper-slide ">
          <div class="image-section">
            <img src="{{ "dummy-product.webp" |asset_url}}" alt="">
          </div>
          <div class="content">
            <h2>Fly Fishing Reel - 406 Elite</h2>
            <div class="price">
              <span>$350.00</span>
            </div>
            <p>
              Machined from the highest quality 7075 aluminum alloy available, we can confidently say that this fly
              fishing reel is one of the best on the market.
            </p>
            <a class="btn--primary">shop now</a>
            <ul>
              <li>available in 4/6, 7/9 weights</li>
              <li>Made with durable 7075 aluminum alloy</li>
              <li>Easily Coverts from left to right-handed</li>
              <li>sealed drag system</li>
            </ul>
          </div>
        </div>
        <div class="slide swiper-slide ">
          <div class="image-section">
            <img src="{{ "dummy-product.webp" |asset_url}}" alt="">
          </div>
          <div class="content">
            <h2>Fly Fishing Reel - 406 Elite</h2>
            <div class="price">
              <span>$350.00</span>
            </div>
            <p>
              Machined from the highest quality 7075 aluminum alloy available, we can confidently say that this fly
              fishing reel is one of the best on the market.
            </p>
            <a class="btn--primary">shop now</a>
            <ul>
              <li>available in 4/6, 7/9 weights</li>
              <li>Made with durable 7075 aluminum alloy</li>
              <li>Easily Coverts from left to right-handed</li>
              <li>sealed drag system</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev swiper-button-prev-product">
        {% include 'icon-arrow-prev' %}
      </div>
      <div class="swiper-button-next swiper-button-next-product">
        {% include 'icon-arrow-prev' %}
      </div>
    </div>
  </div>
</div>
<div class="three-column-image-boxes">
  <ul class="flex-wrap">
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
    <li>
      <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
      <div class="content">
        <a class="link--primary"> Shop </a>
        <h3>Rods</h3>
      </div>
    </li>
  </ul>
</div>
<div class="testimonial-section">
  <div class="container-1440">
    <div class="container-1400">
      <div class="user-image">
        <img src="{{ "dummy-user.webp" |asset_url}}" alt="">
      </div>
      <p class="h3">
        “I have fished all over the world with every brand of fly fishing rods and reels you can imagine. My Montana
        Casting Company equipment is the best I’ve ever owned. Lightweight yet extremely powerful, I will never fish
        with another brand of rod again!”
      </p>
      <span>— Mike C.</span>
    </div>
  </div>
</div>
<div class="insta-section">
  {% include 'icon-two-fish' %}
  <div class="container-1440">
    <div class="heading-section flex">
      <h2>@montanacastingco</h2>
      <a class="link--primary">Follow Us on Instagram</a>
    </div>
    <ul>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
      <li>
        <a class="image-section">
          <img src="{{ "dummy-image.webp" |asset_url}}" alt="">
        </a>
      </li>
    </ul>
  </div>
</div>